* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /* max-width: 100vw; */
}

.main {
    background-image: url('./images/bg.svg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    min-height: fit-content;
    padding-top: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    padding: 0.2%;
    margin: 0 auto;
}

.logo-menu {
    width: 30%;
    margin-left: 3%;
}

.logo-menu img {
    width: 12.15vw;
}

.items-menu {
    justify-items: right;
}

.items-menu a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.items-menu a:hover {
    border-bottom: 2px solid #FFDD33;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    top: 57px;
}

.contact-btn {
    background-color: #0F3FD3;
    padding: 10px 10px;
    border-radius: 10px;
}

.contact-btn:hover {
    box-shadow: 0px 0px 3px black;
}

.mockup {
    color: white;
    text-align: center;
}

.mockup h1 {
    font-weight: lighter;
}

.mockup *{
    margin-top: 3%;
}

.mockup img {
   width: 50%;
}

.brands .center {
    flex-direction: row;
    padding: 3% 0;
}

.brands .center img {
    width: 20%;
}

.whyUs {
    padding: 40px 0;
    background-color: #FBFCFE;
}

.whyUs .center h2 {
    font-size: 64px;
    text-align: center;
}

.whyUs > .center > p {
    color: #7E92AC;
    text-align: center;
    margin: 32px 0;
}

.perks {
    display: flex;
    max-width: 100vw;
    flex-direction: row;
    margin: 15px auto 20px auto;
}

.perk-box {
    max-width: fit-content;
    box-shadow: 0px 20px 40px #2426721C;
    margin: 0 2% 2% 2%;
    padding: 2% 3%;
    justify-items: left;
    border-radius: 20px;
}

.perk-box img {
    max-width: 70px;
}

.perk-box h3{
    font-size: 18px;
    margin: 2% 0;
}

.perk-box p {
    font-size: 13px;
    color: #7E92AC;
}

.midpage-banner {
    background-image: url('./images/midpageBanner.svg');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    text-align: center;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 35vh;
}

.midpage-banner h2, .midpage-banner p {
    font-weight: normal;
}

.midpage-banner h2 {
    font-size: 64px;
}

.midpage-banner p {
    font-size: 20px;
}

.midpage-banner a {
    background-color: #FFDD33;
    text-decoration: none;
    font-size: 20px;
    color: #0F3FD3;
    font-weight: bold;
    padding: 12px 25px;
    letter-spacing: 1.88px;
    border-radius: 10px;
    width: fit-content;
    margin-top: 10px;
}

.benefits > .center {
    flex-direction: row;
    align-items: center;
}

.benefits > .center > div {
    width: 50%;
}

.img-benefits img {
    max-width: 100%;
    margin-top: 85px;
}

.benefits-list {
    margin-top: 100px;
    height: fit-content;
}

.benefits-list h1 {
    font-size: 40px;
    margin: 0 0 15px 15px;
}

.list {
    display: grid;
    grid-template-columns: 15% 70%;
    grid-template-rows: repeat(3, fit-content);
    flex-wrap: wrap;
    align-items: middle;
    height: fit-content;
}

.list p {
    grid-column-start: 2;
    align-self: left;
    margin: 25px -15px 0 0;
}

.benefits-list a {
    display: block;
    text-decoration: none;
    text-align: center;
    width:50%;
    margin: auto;
    background-color: #255AFF;
    color: white;
    padding: 15px;
    font-weight: 600;
    letter-spacing: 1.88px;
    border-radius: 10px;
}

.testimonies {
    padding-top: 100px;
}

.testimonies h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}

.slider {
    display: flex;
    flex-direction: row;
}

.container-slider-single {
    box-shadow: 0px 20px 50px #70707016;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 60px 40px;
    font-size: 16px;
    color: #7E92AC;
}

.container-slider-single .work {
    font-size: 18px;
    margin-bottom: 10px;
}

.container-slider-single h3 {
    font-weight: normal;
    color: black;
    font-size: 35px;
}

.container-slider-single * {
    margin: auto;
    padding: 5px 0;
}

.container-slider-single img {
    width: 86px;
}

.slick-track {
    display: flex;
    flex-direction: row;
}

.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #373855;
	color: #373855;
}

.slick-slide:focus { outline: none; }


.contact-form h1{
    font-size: 64px;
    margin: 100px 0 50px 0;
    text-align: center;
}

form {
    width: 90%;
    margin: 5%;
}

.contact-form input {
    max-width: 812px;
    width: 100%;
    height: 75px;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
    background-color: #FCFDFF;
    margin: 10px 4%;
    font-size: 20px;
    font-weight: bold;
    padding: 0 5px;
}

::placeholder {
    font-weight: bold ;
    font-size: 20px;
    color:#7E92AC;
}

textarea {
    width: 100%;
    max-width: 812px;
    margin: 10px 4%;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
    background-color: #FCFDFF;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 5px;
}

input[type=submit] {
    background-color: #255AFF;
    color: white;
    font-size: 24px;
    letter-spacing: 1.88px;
    font-weight: 500;
    margin-bottom: 212px;
}

footer {
    background-color: #255AFF;
    padding: 50px 10px;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}

footer p {
    width: 50%;
    text-align: center;
}

footer .menu {
    width: 50%;
}

/*Responsividade*/
@media screen and (max-width: 1118px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        margin-bottom: 15px;
    }

    footer .menu {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .list {
        column-gap: 25px;
    }

    .benefits-list a {
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    
    .items-menu {
        display: flex;
        width: 100%;
        text-align: center;
        margin: 10px;
        align-items: center;
        justify-content: space-around;
    }
    .logo-menu img {
        width: 100%;
    }

    .mockup p {
        font-size: 12px;
    }

    .mockup h1 {
        margin-top: 2%;
    }

    .whyUs .center h2 {
        font-size: 24px;
    }

    .perks {
        display: flex;
        max-width: 100vw;
        flex-wrap: wrap;
        margin: 15px auto 20px auto;
    }

    .midpage-banner {
        padding: 20px 15px;
    }

    .midpage-banner h2 {
        font-size: 40px;
    }

    .list {
        column-gap: 40px;
    }

    .benefits-list {
        margin-left: 3px;
    }

    .benefits > .center {
        flex-direction: column-reverse;
    }

    .benefits > .center > div {
        width: 100%;
    }

    .benefits h1 {
        text-align: center;
    }

    .benefits-list {
        margin-top: 0px;
    }

    .img-benefits {
        margin-left: 8%;
    }

    footer .items-menu {
        flex-direction: column;
    }

    footer .items-menu a {
        padding: 5px 0;
    }
    
    footer {
        padding: 10px;
    }

    footer p {
        width: 80%;
    }
}